<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.UpdateUserInfoMapper">
  <update id="updateUserInfo" parameterType="com.test.entity.Users" >
    UPDATE users
 	<trim prefix="set" suffixOverrides=",">
  		<if test="userPwd!=null">userPwd=#{userPwd},</if>
  		<if test="userTel!=null">userTel=#{userTel},</if>
 	</trim>
 	WHERE userName=#{userName}
  </update>
</mapper>